<!doctype html>
<html>
  <head>
    <title>FunkyPictureFrame</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <style>
      body {
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
    <h1>FunkyPictureFrame</h1>
    <form action="/take-picture" method="post">
      <input type="submit" value="Take a picture" />
    </form>
    <img src="/image.jpeg" width="640" />
    <br>
    Latest view
  </body>
</html>
